*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif, Arial, Helvetica;
    text-decoration: none;
}

body{
    background-color: #f2f2f2;
}

header{
    width: 1212px;
    height: 140px;
    background-color: #232323;
    margin: 0px auto;
}

#logotipo {
    width: 35%;
    height: 140px;
    margin: 0 auto;
    padding-top: 10px;
}

#logotipo img{
    display: block;
    width: 60px;
    float: left;
    margin-top: 20px;

}

#logotipo h1{
    display: block;
    float: left;
    margin-top: 40px;
    margin-left: 20px;
    letter-spacing: 2px;
    font-weight: lighter;
    color: #2ba977;
}

