{% extends 'layout.html' %}
{% block title %}
index
{% endblock  %}
{% block content  %}
<h2 class="title"> Titulo de prueba</h2>
{% if nombre  %}
    <p>{{ nombre }} </p>
{% else %}
    <p> no existe el nombre</p>
{% endif %}


<h3> Listado de lenguajes de programación</h3>
<ul>
    {% for lenguaje in  lenguajes %}
    <li>{{forloop.counter}} - {{ lenguaje }} </li>
    {% empty %}
        <p>NO HAY LENGUAJES A MOSTRAR</p>
    {% endfor %}
</ul>
<p>Años hasta el 2050</p>
<ul>
    {% for year in years   %}
        {% if  year|divisibleby:2 == True %}
            <li>  {{ year }} </li>
        {% endif %} 
    {% endfor %}
</ul>

{% endblock  %}


 