{% load static %}
<!DOCTYPE>
<html lang='es'>
    <head>
        <meta charset="utf-8" />
        <title> {% block title %}{% endblock  %} | Django</title>
        
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
    </head>
    <body>

        <header>
            <div id="logotipo">
                <img src="{% static 'img/logo.png' %}" />
                <h1> Sitio web con Django</h1>
            </div>
        </header>
        <nav>
            <ul>
                <li>
                    <a href="{% url 'index' %}">Inicio</a>
                </li>
                <li>
                    <a href="{% url 'articulos' %}">Articulos</a>
                </li>
                <li>
                    <a href="{% url 'create_article' %}">Crear Articulo</a>
                </li>
                <li>
                    <a href="{% url 'article-full' %}">Crear Articulo 2</a>
                </li>
                <li>
                    <a href="{% url 'hola_mundo' %}">Hola </a>
                </li>
                <li>
                    <a href="{% url 'pagina' %}">Pagina</a>
                </li>
                <li>
                    <a href="{% url 'contacto' %}">Contacto</a>
                </li>
            </ul>
        </nav>
        <div class="barra">
            <span class="esquina-izquierda"></span>
            <span class="relleno-barra"></span>
            <span class="esquina-derecha"></span>
        </div>
        <div id="content">
            <div class="box">
                
                    {% block content %} 

                    {% endblock  %}
            </div>
        </div>
        {% comment "aqui va comentario con helper de comentarios de django" %}
            <h1> aqui va un comentario</h1>
        {% endcomment %}
        <footer>
            Master en python
            {% include "fecha_actual.html" %}
        </footer>
    </body>
</html>
